# Compiled files
*.pyc

# Distributed files
build/
dist/

# IDE Files
.idea/

# Tox files
.tox/

# Pypi files
*.egg-info/

# Coverage
.coverage
htmlcov/

# Credentials for functional tests
mycreds.json
client_secrets.json